body {
  min-height: 140vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: $blk-blue;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  flex: 1;
  width: 100%;
}

.hidden {
  position: absolute;
  visibility: hidden;
}

// FLEX

%flex {
  display: flex;
  align-items: center;
}

%flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

// TRANSITIONS

%transition {
  transition: all 300ms ease-in-out;
}

@media (max-width: 1100px) {
  .wrapper {
    padding: 0 30px;
  }
}
