.footer {
  width: 100%;
  color: $primary-white;
  background-color: $primary-dark;

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'logo subscribe subscribe'
      'btn . .'
      'socials nav author';
    padding: 40px 0 43px;

    .logo {
      grid-area: logo;
    }

    .socials-list {
      grid-area: socials;
      @extend %flex-column;
      gap: 3px;
      margin-top: 43px;

      &__item {
        &:nth-child(1) {
          i {
            background-image: url(../assets/icons/facebook.svg);
          }
        }
        &:nth-child(2) {
          i {
            background-image: url(../assets/icons/twitter.svg);
          }
        }
        &:nth-child(3) {
          i {
            background-image: url(../assets/icons/insta.svg);
          }
        }
        &:nth-child(4) {
          i {
            background-image: url(../assets/icons/youtube.svg);
          }
        }
      }

      &__link {
        display: inline-flex;
        align-items: center;
        color: $primary-white;
        line-height: 22px;
        @extend %transition;

        i {
          display: inline-block;
          width: 26px;
          height: 26px;
          margin-right: 13px;
          background: rgba(196, 196, 196, 0.5);
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 50%;

          @extend %transition;
        }

        &:hover {
          color: $orange;

          i {
            background-color: $orange;
          }
        }

        &:active {
          color: $green;

          i {
            background-color: $green;
          }
        }
      }
    }

    .nav {
      grid-area: nav;
      align-self: flex-end;
      margin-bottom: 2px;
    }
  }
}

@media (max-width: 1100px) {
  .footer {
    &__inner {
      .socials-list {
        margin-top: 47px;
      }

      .nav {
        transform: translate(-9px, -4px);
      }
    }
  }
}

@media (max-width: 950px) {
  .footer {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'logo subscribe'
        'btn socials'
        'nav author';

      .socials-list {
        margin-top: 20px;
        justify-self: flex-end;
      }
    }
  }
}

@media (max-width: 800px) {
  .footer {
    &__inner {
      padding: 13px 0 7px;

      .subscribe {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
        width: 100%;
        margin-bottom: 10px;

        label {
          margin-bottom: 0;
        }
      }

      .socials-list {
        margin-top: 0;
        gap: 13px;
      }

      .nav {
        margin-bottom: 6px;
        transform: translate(0, 0);

        &__list {
          gap: 6px;
        }

        .list__item {
          &:first-child {
            .nav__link {
              padding-left: 0;
            }
          }
        }
      }

      .author__link {
        margin-top: 34px;
      }
    }
  }
}

@media (max-width: 640px) {
  .footer {
    &__inner {
      grid-template-areas:
        'logo socials'
        'btn socials'
        'nav author';

      .subscribe {
        display: none;
      }

      .socials-list {
        &__link {
          font-size: 0;

          i {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 581px) {
  .footer {
    &__inner {
      grid-template-areas:
        'logo socials'
        'btn socials'
        'author author'
        'nav nav';

      .nav {
        justify-self: center;
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 400px) {
  .footer {
    &__inner {
      padding: 21px 0 7px;
      grid-template-columns: 1fr;
      grid-template-areas:
        'logo'
        'socials'
        'btn '
        'author'
        'nav';
      gap: 30px;

      .logo {
        justify-self: center;
      }

      .socials-list {
        flex-direction: row;
        justify-self: center;
        gap: 30px;
      }

      .author__link {
        margin-top: 0;
        margin-right: 5px;
        font-size: 15px;
        line-height: 18px;
        transform: translateY(-5px);
        span:first-child {
          display: inline-block;
          margin-bottom: 10px;
        }
      }

      .nav {
        margin-top: 0;
        transform: translateY(-5px);

        &__list {
          gap: 0;

          .list__item:first-child {
            .nav__link {
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
}
