@import "../../styles/colors";

.statistics {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0 auto;
  max-width: 1000px;
  &__header {
    border-bottom: 2px solid $accent-iris;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-content: center;
    justify-content: center;
    height: 2em;

    & svg {
      justify-self: center;
    }
  }

  &__header {
    font-weight: 600;
    text-align: center;
    color: $accent-iris;
  }

  &__data {
    text-align: center;
  }
}
