@import "../../styles/colors";

.statistics {
  margin: 0 auto;
  max-width: 800px;
  &__header {
    border-bottom: 2px solid $accent-iris;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 2fr;
    align-content: center;
    justify-content: center;
    height: max-content;

    & svg {
      justify-self: center;
    }
  }

  &__header {
    font-weight: 600;
    text-align: center;
    color: $accent-iris;
  }

  &__data {
    text-align: center;
  }
}
