.popUp {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  @extend %flex-centered;
  flex-direction: column;
  gap: 0.5em;
  max-width: 90%;
  padding: 1rem;
  background-color: $accent;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  opacity: 0;

  @extend %transitionSlow;

  .results {
    @extend %flex-centered;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    min-width: 300px;

    &__title {
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
    }

    .row {
      display: grid;
      grid-template-columns: 20px 95px 50px 65px;
      gap: 5px;
      white-space: nowrap;
      opacity: 0;

      @extend %transitionSlow;
    }
  }

  .win {
    @extend %flex-centered;
    flex-direction: column;
    gap: 0.5em;
    min-width: 270px;
    text-align: center;

    &__title {
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
    }

    &__form {
      @extend %flex-centered;
      gap: 0.5rem;
    }

    &__input {
      display: inline-block;
      max-width: 160px;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 10px;
      outline: none;
    }
  }

  &.show {
    z-index: 20;
    opacity: 1;

    .results {
      .row {
        opacity: 1;

        @for $i from 0 to 10 {
          &:nth-child(#{$i + 2}) {
            transition-delay: #{$i * 150}ms;
          }
        }
      }
    }
  }
}
