.btn {
  position: relative;
  display: inline-block;
  width: 298px;
  height: 54px;
  padding: 16px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: $primary-white;
  border: none;
  background-color: $orange-dark;
  background-image: $orange-grad;
  cursor: pointer;

  @extend %transition;

  &:hover {
    background: $orange-dark;
  }

  &:active {
    background: $green;
  }

  &:disabled {
    background: $gray;
  }

  &_round {
    border-radius: 25px;
  }

  &_sqrt {
    border-radius: 5px;
  }

  &[type='submit'] {
    width: 129px;
    height: 42px;
    padding: initial;
    color: $primary-dark;
    text-transform: initial;
    background: $light-gray;
    border: 1px solid $blk-blue;
    border-radius: 5px;

    &:active {
      color: $green;
      border: 1px solid $green;
    }

    &:invalid {
      color: $red;
      border: 1px solid $red;
    }
  }
}

.watch__btn {
  margin-right: 98px;
}

.arrow-btn {
  @extend %flex-centered;
  width: 62px;
  height: 62px;
  font-size: 18px;
  color: $primary-white;
  border: none;
  border-radius: 50%;
  background-color: $orange-dark;
  background-image: $orange-grad;
  cursor: pointer;

  @extend %transition;

  &:hover {
    background: $orange-dark;
  }

  &:active {
    background: $green;
  }
}

.feed_btn {
  display: inline-block;
}

.testimonails_btn {
  align-self: flex-start;
}

.footer_btn {
  margin-left: 6px;
}

.footer_btn-donate {
  grid-area: btn;
  margin-top: 37px;
}

.diet__btn {
  margin-top: 30px;
  transform: translateX(3px);
}
