.nav {
  flex: 1;

  &__list {
    @extend %flex;
    justify-content: start;
    gap: 28px;

    .item__link {
      padding: 10px 15px;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      white-space: nowrap;

      @extend %transition;

      &:hover {
        color: $orange;
        cursor: pointer;
      }

      &:active {
        color: $green;
      }

      &.active {
        color: $orange;
      }
    }
  }
}

.copyright {
  margin-left: auto;
  .item__link {
    padding-right: 0;
  }
}

@media (max-width: 1100px) {
  .nav {
    &__list {
      gap: 18px;
    }
  }
}
