@import "./styles/normalize";
@import "./styles/colors";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap");

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: $primary-dark;
  background-color: $primary-light;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1440px;
  min-height: 100vh;
}
