.backstage {
  background-image: url('../assets/img/flower_foto1.png');
  background-position: 100% 12px;
  background-repeat: no-repeat;

  @extend %transition;

  &__inner {
    @extend %flex-centered;
    gap: 72px;
    padding: 140px 20px;
  }

  &__img {
    width: 52%;
    height: 403px;
    background-image: url('../assets/img/bamboo-cap.jpg');
    background-position: center;
  }

  &__text {
    width: 482px;
    padding-left: 19px;
  }

  &__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    margin-bottom: 20px;
  }

  &__siteInfo {
    line-height: 21px;
    margin-bottom: 54px;
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 34px;
  }
  &__description {
    line-height: 22px;
  }
}

@media (max-width: 1599px) {
  .backstage__inner {
    gap: 31px;
  }
}

@media (max-width: 1500px) {
  .backstage {
    &__inner {
      padding: 100px 20px;
    }

    &__img {
      width: 40%;
      height: 408px;
    }
  }
}

@media (max-width: 1350px) {
  .backstage {
    background-position: 105% 12px;
  }
}

@media (max-width: 1200px) {
  .backstage {
    background-image: none;
  }
}

@media (max-width: 1000px) {
  .backstage {
    &__inner {
      gap: 6px;
      height: 627px;
      padding: 110px 20px;
    }

    &__img {
      width: 455px;
    }

    &__text {
      padding-left: 25px;
    }

    &__title {
      font-size: 48px;
      line-height: 58px;
    }

    &__description {
      width: 97%;
    }
  }
}
