.feed {
  padding-top: 69px;
  padding-bottom: 88px;
  background: $orange-light-grad;

  &__inner {
    margin-bottom: 11px;
    padding: 40px 50px 60px 50px;
    text-align: center;
    background: $frosted-white;
    backdrop-filter: blur(2px);
    border-radius: 20px;
  }

  &__title {
    margin-bottom: 31px;
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    color: $orange;
  }

  &__text {
    transform: translateX(48px);

    &_1 {
      text-align: left;
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 29px;
    }

    &_2 {
      text-align: left;
      margin-bottom: 10px;
      font-weight: 500;
      line-height: 21px;
    }

    &_3 {
      width: 82%;
      text-align: left;
      line-height: 21px;
    }
  }

  &__subtitle {
    margin-top: 61px;
    margin-bottom: 41px;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    text-align: center;
  }

  &__steps {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 60px;
  }

  &__step {
    width: 168px;
    text-align: left;

    &:nth-child(1) {
      .step__icon {
        background-image: url('../assets/img/pay.png');
      }
    }

    &:nth-child(3) {
      .step__icon {
        background-image: url('../assets/img/zoo.png');
      }
    }

    &:nth-child(5) {
      .step__icon {
        background-image: url('../assets/img/monkey.png');
      }
    }
  }
}

.step {
  &__icon-border {
    margin-bottom: 30px;
    padding: 2px;
    height: 168px;
    border-radius: 5px;
    background: $orange-grad;
  }

  &__icon {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: $primary-white;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__text {
    line-height: 22px;
  }

  &__arrow {
    width: 69px;
    background-image: url('../assets/img/Vector.png');
    background-repeat: no-repeat;
    background-position: center 59px;
  }
}

@media (max-width: 1000px) {
  .feed {
    padding-top: 29px;
    padding-bottom: 38px;

    &__inner {
      padding: 30px 48px 53px 48px;
    }

    &__title {
      margin-bottom: 21px;
    }

    &__text {
      transform: translateX(0);

      &_1 {
        margin-bottom: 19px;
      }

      &_2 {
        width: 96%;
      }

      &_3 {
        width: 100%;
      }
    }

    &__subtitle {
      margin-top: 39px;
    }

    &__steps {
      margin-bottom: 70px;
    }
  }
}
