.watch {
  position: relative;
  height: 700px;
  background-color: $primary-dark;
  background-image: url('../assets/img/panda-bg.jpg');
  background-repeat: no-repeat;

  background-position: center -80px;

  &__inner {
    @extend %flex-column;
    align-items: flex-end;
    gap: 61px;
    padding-top: 86px;
  }

  &__title {
    position: relative;
    z-index: 100;
    width: 500px;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: $primary-white;

    &::before {
      content: '';
      position: absolute;
      top: -72px;
      left: -74px;
      z-index: -1;
      width: 465px;
      height: 465px;
      background: $orange-grad;
      border-radius: 50%;
    }

    span {
      color: $yellow;
    }
  }
}

@media (min-width: 1601px) {
  .watch {
    background-size: cover;
  }
}

@media (max-width: 1000px) {
  .watch {
    height: 503px;
    background-position: 50% 90%;
    background-size: 120%;

    &__inner {
      gap: 43px;
      padding-top: 45px;
    }

    &__title {
      margin-right: 5px;
      font-size: 85px;
      line-height: 63px;

      &:before {
        top: -57px;
        left: -10px;
        width: 367px;
        height: 367px;
      }
    }
  }
}

@media (max-width: 999px) {
  .watch {
    height: 339px;

    &__inner {
      gap: 0;
    }

    &__title {
      margin-right: -4px;
      width: 256px;
      font-size: 54px;
      line-height: 41px;

      &:before {
        top: -34px;
        left: -36px;
        width: 237px;
        height: 237px;
      }
    }
  }
}

@media (max-width: 639px) {
  .watch {
    height: 187px;

    &__inner {
      padding-top: 42px;
    }

    &__title {
      width: 128px;
      margin-right: 0px;
      font-size: 28px;
      line-height: 21px;

      &:before {
        top: -20px;
        left: -20px;
        width: 119px;
        height: 119px;
      }
    }
  }
}
